<% include head.ejs%>

    <script> window.user =  <%- user%> </script>
    
    <div id="app" >
      <h1>Render React components here</h1>
    </div>
    <script src="./dist/bundle.js"></script>

<% include foot.ejs%>
