<% include head.ejs%>
<br></br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-6 text-center">

            <h1>Login or Signup to Continue</h1>

            <div>
                <a href="/auth/github">
                    <span class="fa fa-github"></span> Github
                </a>
            </div>
        </div>
    </div>
</div>

<% include foot.ejs%>
